$icon-font-path: "../fonts/";

/* Typography
*/

@font-face {
  font-family: "OpenSans Cond";
  font-weight: 700;
  font-style: normal;
  src: local("OpenSans CondBold"), url("../fonts/OpenSans-CondBold.ttf") format("truetype");
}


@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('/Content/Fonts/2C5E3B_0_0.eot');
  src: url('/Content/Fonts/2C5E3B_0_0.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/2C5E3B_0_0.woff2') format('woff2'), url('/Content/Fonts/2C5E3B_0_0.woff') format('woff'), url('/Content/Fonts/2C5E3B_0_0.ttf') format('truetype');
}


/* Overwritting bootstrap variables
*/

$font-family-sans-serif:  "proxima-nova", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "BerlingNovaDisplayPro", Georgia, "Times New Roman", Times, serif !default;
$font-size-base:          18px !default;
$headings-font-family:    $font-family-serif;
$headings-font-weight:    300 !default;
$font-size-h1:            floor(($font-size-base * 3.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 3.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 2.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 2.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
$text-color:              #212424;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
	font-weight: 300;
}

strong { font-weight: 700; }

.container-fluid h2:first-child {
  margin-bottom: 20px;
}

/* Wrap text inside the dropdown */

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
   overflow:hidden; 
  white-space:pre; 
  text-overflow:ellipsis;
  -webkit-appearance: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
  font-size: 16px;
  line-height: 1.1;
  white-space: normal;
}

/* Charts
*/

.row.content {
  margin-bottom: 15px;
}

#chart-one::before, #chart-one::after,
#chart-two::before, #chart-two::after,
#chart-three::before, #chart-three::after {
    content: " ";
    display: table;
}

#chart-two,
#chart-three {
    margin-top: 30px;
}

#chart-one,
#chart-two,
#chart-three {
}

.chart-container {
  width:100%;
  height:100%;
}

.chart-title {
  background: #eee;
  padding: 10px 14px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.chart-title .small {
  color: #212424;
}

.chart-title h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.chart-title h4 {
  font-size: 14px;  
  font-family: "proxima-nova", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .chart-one-container .chart-title {
    min-height: 122px;
  }
  .chart-two-container .chart-title {
    min-height: 120px;
  }
  .chart-three-container .chart-title {
    min-height: 116px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .chart-one-container .chart-title {
    min-height: 110px;
  }
  .chart-two-container .chart-title {
    min-height: 98px;
  }
  .chart-three-container .chart-title {
    min-height: 110px;
  }
}

@media screen and (min-width: 480px ) {
  .chart-one-container .chart-title {
    min-height: 82px;
  }
  .chart-two-container .chart-title {
    min-height: 82px;
  }
  .chart-three-container .chart-title {
    min-height: 84px;
  }
}

.group-subtitle {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c13d8c;
  font-weight: 500;
  border-bottom: 1px solid #fbf7ef;
  border-top: 1px solid #fbf7ef;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #c13d8c;
    border-radius: 12px;
    margin-right: 5px;
  }
  em {
    font-style: normal;
    text-transform: none;
  }
}


/* Axes */
.axis {
  fill: rgb(56, 63, 130);
}
.axis path,
.axis line {
  fill: none;
  /*stroke-width: 2*/;
  shape-rendering: crispEdges;
}

.axis text,
.legend {
  font-family: "proxima-nova", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.bartext { /* oblique text in chart 1 */
  font-size: 11px;
  font-family: "proxima-nova", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}


.salarytext {
}

/*
@media screen and (max-width: 768px) { .bartext { font-size: 14px; } }
@media screen and (min-width: 768px) { .bartext { font-size: 8px; } }
@media screen and (min-width: 992px) { .bartext { font-size: 6px; } }
*/

/* Tooltips
*/

.d3-tip {
  font-family: "proxima-nova", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1 !important;
  padding: 10px 16px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  z-index: 9000;
}

.d3-tip p {
    margin-bottom: 0;
    margin-top: 5px;
}

.d3-tip:after {  /* tip of the tooltips */
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after { /* northward tooltips */
  margin: -4px 0 0 0;
  top: 100%;
  left: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Iframe
*/

.iframe-container {
  border: 1px solid #ccc;
  width: 50%;
  margin: 100px auto;
}

@media screen and (max-width: 768px) {  /* very small devices */
  .iframe-container { width: 100%; }
}

/* Queries for titles */

@media screen and (max-width: 768px) {  /* very small devices */
  h2 { font-size: 42px; }
  .chart-title h3 { font-size: 16px; }
  .chart-title h4 { font-size: 12px; }
}

@media screen and (max-width: 425px) {  /* graphs legend */
  .axis text,
  .legend { font-size:  7px; }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container { max-width: 730px; }  
  
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header { margin-bottom: 30px; }
}
