$icon-font-path: "../fonts/";

/* Typography
*/

@font-face {
  font-family: "Unna";
  font-weight: 400;
  font-style: normal;
  src: local("Unna"), url("../fonts/Unna/Unna-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: local("Raleway Regular"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  src: local("Raleway Bold"), url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}

/* Overwritting bootstrap variables
*/

$font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Unna", Georgia, "Times New Roman", Times, serif !default;
$font-size-base:          18px !default;
$headings-font-family:    $font-family-serif;
$headings-font-weight:    400 !default;
$font-size-h1:            floor(($font-size-base * 3.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 3.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 2.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 2.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
$text-color:              #212424;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

strong { font-weight: 700; }

/* Tooltips
*/

.d3-tip {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1 !important;
  padding: 10px 16px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
}

.d3-tip p {
    margin-bottom: 0;
    margin-top: 5px;
}

.d3-tip:after {  /* tip of the tooltips */
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after { /* northward tooltips */
  margin: -4px 0 0 0;
  top: 100%;
  left: 0;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}


/* Responsive SVG charts from http://stackoverflow.com/a/25978286/122400 */

#chart-one, #chart-two, #chart-three {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
